
# synapx
torch>=2.0.0,<3.0.0

# Scripts
numpy>=1.23.0,<2.0.0
matplotlib>=3.0.0,<4.0.0

# Examples
pkbar==0.5
torchvision
scikit-learn>=1.2.1,<2.0.0

# Build bindings and stubs
pybind11>=2.6.0,<3.0.0
pybind11-stubgen>=2.0.0,<3.0.0

# Tests
pytest>=8.0.0,<9.0.0